<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{base :: head ('Pedidos')}"></head>

<body>

<div th:replace="~{base :: logo}"></div>

<div class="container">

    <div th:replace="~{base :: pageTitle ('Meus Pedidos')}"></div>

    <nav class="navbar navbar-expand navbar-light bg-light mb-3">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link active" href="">Todos</a>
                <a class="nav-link" href="">Aguardando</a>
                <a class="nav-link" href="">Aprovado</a>
                <a class="nav-link" href="">Entregue</a>
            </div> <!-- navbar-nav -->
            <div class="d-flex">
                <a href="/order/create">
                    <button class="btn btn-outline-secondary">Novo</button>
                </a>
            </div> <!-- end d-flex -->
        </div> <!-- end container-fluid -->
    </nav> <!-- end navbar -->

    <div class="card mb-3" th:each="order : ${orders}">
        <div class="card-header" th:text="${order.orderName}">Nome do poduto</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">
                    <div class="row">
                        <div class="col-md-5">Valor: <span th:text="${order.negotiatedValue}">2000,00</span></div>
                        <div class="col-md-7">
                            Data de entrega: <span th:text="${order.deliveryDate}">07/03/2021</span>
                        </div>
                    </div> <!-- end row -->
                    <div>Produto</div>
                    <div>
                        <label for="orderUrl"></label>
                        <input class="form-control" th:value="${order.orderUrl}" id="orderUrl"/>
                    </div>

                    <div>Descrição</div>
                    <div>
                        <label for="description"></label>
                        <textarea class="form-control" th:text="${order.description}" name="" id="description" cols="30"
                                  rows="10">descriçao do pedido</textarea>
                    </div>
                </div> <!-- end col-12 -->
                <div class="col-12 col-sm-4">
                    <div>
                        <img class="img-thumbnail" th:src="${order.orderImage}" src="" alt="order image">
                    </div>
                </div> <!-- end col-12 -->
            </div> <!-- end row -->
        </div> <!-- end card-body -->
    </div> <!--- end card -->
</div> <!-- end container -->
</body>
</html>
